<div class="form-group">
	<label for="inputName">Nazwa <dh-tip
			[text]="helpService.getDeviceTypeNameTip()"></dh-tip></label> <input
		type="text" class="form-control" id="inputName"
		placeholder="Nazwa typu urządzenia" [(ngModel)]="deviceType.name">
</div>

<div class="form-group">
	<label for="textAreaDescription">Opis <dh-tip
			[text]="helpService.getDeviceTypeDescriptionTip()"></dh-tip></label>
	<textarea class="form-control" id="textAreaDescription" rows="3"
		[(ngModel)]="deviceType.description"></textarea>
</div>
